node_modules
dist
.env
testBlob.ts
testBlob.js

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfplan

.github.*
# Ignore all files in the .github directory

